{% extends "base.html" %}
<script src="{{url_for('static', filename='a.js')}}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<!-- non google fallback -->
<script>!window.jQuery && document.write(unescape('%3Cscript src="jquery.min.js"%3E%3C/script%3E'))</script>
<!-- Google Maps API library (Make sure to replace the API key) -->
<script type="text/javascript" src="http://maps.google.com/maps?file=api&v=2&sensor=true&key=AIzaSyB3wNLhjT9wEyeFvSN1yjp3iEdTFp76pt8"></script>
<!-- Load the gmapDirections wrapper -->
{% include "index1.html" ignore missing%}

{% block page_content %}
<a href='index1.html'>link</a>
{% if data['value']!=-1 %}
		{{"No nearby toilet"}}
{% else %}
<div class="content">
        <form id="f">
        <label>Start:</label><input type="text" id="StartAddress" value="" />
        <label>End:</label><input type="text" id="EndAddress" value="" />
        <input type="submit" id="GetDirections" value="Get Directions" />
        </form>
        <div id="Directions"></div>
        <div id="Map"></div>
</div>
{% endif %}
<script type="text/javascript" charset="utf-8">
      window.onerror = function(){
   return true;
}

  </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <!-- non google fallback -->
        <script src="{{url_for('static', filename='jquery.gmapDirections.js')}}"></script>
    <!-- Google Maps API library (Make sure to replace the API key) -->
    <script type="text/javascript" src="http://maps.google.com/maps?file=api&v=2&sensor=true&key=ABQIAAAAHurSAwsvkPMdZ7CLPX9lcRQnPOHdzgXwbK2ygbWHyG8eTE0-1hTvjX6qUs_KpRKk0zQyXwyIoS75kw"></script>
    <!-- Load the gmapDirections wrapper -->
    <script src="{{url_for('static', filename='jquery.gmapDirections.js')}}"></script>
  <script>
window.onerror = function(){
   return true;
}
$(document).ready(function(){
var a="kapashera, new delhi";
var b={{data['lat']|safe}};
var c={{data['lng']|safe}};
var d=b+", "+c;
	$("#StartAddress").attr("value",a);
    $("#EndAddress").attr("value",d);
    $("#f").submit(function(){
            console.log("hii");});
});
    </script>

    <!-- call the plugin -->
    <script type="text/javascript">
        $(function(){
            $('#Map').gmapDirections();
        });
    </script>
{% endblock %}
